<app-navbar></app-navbar>

<div class="container d-flex justify-content-center align-items-center py-5">
  <div class="text-center shadow p-5">
    <div class="mb-3">
      <h2>Forgot password</h2>
    </div>
    <div class="mb-3">
      <form>
        <div class="form-floating mb-3">
          <input type="email" class="form-control" name="email" placeholder="Email" [(ngModel)]="email">
          <label for="exampleInputEmail1" class="form-label"><i class="bi bi-envelope"></i> Email</label>
        </div>
        <button type="button" class="btn-confirm px-4 py-2 mb-4" (click)="forgotPassword()">Send Link</button>
      </form>
      <p>Go to <a class="a-link" [routerLink]="['/login']" title="Login">Login</a></p>
    </div>
  </div>
</div>

<div class="container-fluid position-fixed bottom-0 m-0 p-0">
  <app-footer></app-footer>
</div>
