footer {
  background-color: #88D398;
  color: #345834;
}

a {
  color: #345834;
}

.bi {
  font-size: 25px;
  transition: 0.3s linear;
}

.bi-facebook:hover {
  color: #3b5998;
}

.bi-instagram:hover {
  color: #D62976;
}

.bi-pinterest:hover {
  color: #c8232c;
}

.bi-twitter:hover {
  color: #00acee;
}
