<footer class="footer">
  <div class="container">
    <div class="row text-center py-3">
      <div class="col-12 col-sm-6 mb-4">
        <img src="../../../assets/img/logo-bg-bianco.png" alt="Logo DishDash" width="100px">
      </div>
      <div class="col-12 col-sm-6">
        <p>Seguici sui nostri social:</p>
        <a class="p-2" title="Facebook Artìa" href="https://www.facebook.com/"><i class="bi bi-facebook"></i></a>
        <a class="p-2" title="Instagram Artìa" href="https://www.instagram.com/"><i class="bi bi-instagram"></i></a>
        <a class="p-2" title="Pinterest Artìa" href="https://www.pinterest.it/"><i class="bi bi-pinterest"></i></a>
        <a class="p-2" title="Twitter Artìa" href="https://twitter.com/"><i class="bi bi-twitter"></i></a>
      </div>
    </div>
    <div class="row text-center border-top py-3">
      <p class="m-0">Copyright &copy; DishDash</p>
    </div>
  </div>
</footer>
