section {
  position: relative;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .intro {
    position: absolute;
    z-index: 1;

    h1, h4 {
      color: #242424;
      text-shadow: 1px 2px 5px #9b9a9a;
    }

    span {
      color: #EC4E1F;
    }
  }
}

section:before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, #88D398, transparent);
  z-index: 1000;
}

#onda-due {
  rotate: 180deg;
}

.background {
  background-image: url('../../../assets/img/graphic-food-vecteezy.jpg');
  height: 500px;
  background-attachment: fixed;
}

.food {
  position: relative;
  color: white;

  &:hover span {
    visibility: visible;
  }

  span {
    color: white;
    border-radius: 50%;
    visibility: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: radial-gradient(#2e2e2e95, transparent);
    overflow: hidden;
    height: 100%;
    width: 100%;
  }
}
