<app-navbar></app-navbar>

<div class="container-fluid overflow-hidden p-0">
  <video src="../../../assets/img/video.mp4" autoplay muted loop></video>

  <div class="card text-center shadow p-4">
    <div class="card-body">
      <h2 class="mb-4">Login</h2>
      <form class="mb-4">
        <div class="form-floating form-group mb-3">
          <input type="email" class="form-control" name="email" placeholder="email" id="email" [(ngModel)]="email" required>
          <label for="email" class="form-label"><i class="bi bi-envelope"></i> Email</label>
        </div>
        <div class="form-floating form-group mb-3">
          <input type="password" class="form-control" name="password" placeholder="password" id="password" [(ngModel)]="password" required>
          <label for="password" class="form-label"><i class="bi bi-key"></i> Password</label>
        </div>
        <p class="text-danger">{{error}}</p>
        <button type="button" class="btn-categoria" (click)="login()">Login</button>
      </form>

      <div class="mb-2">
        <p class="text-secondary m-0">Need Account?<a class="text-decoration-none" title="Register"
            routerLink="/register"> Register</a></p>
      </div>

      <div>
        <p class="text-secondary m-0">Forgot Password? <a class="text-decoration-none" title="Forgot password"
            routerLink="/forgot-password">Click here</a></p>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
