.container-fluid {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

video {
  display: none;
}

.card {
  min-width: 350px;
}

@media screen and (min-width: 768px) {
  video {
    display: block;
    height: 90vh;
    width: 100vw;
  }

  .card {
    position: absolute;
    top: 30%;
    left: 30%;
  }
}

@media screen and (min-width: 992px) {
  .card {
    left: 50%;
  }
}
