/* angular-cli file: src/styles.css */
@import "../node_modules/angular-calendar/css/angular-calendar.css";

// General
* {
  font-family: Montserrat;
  color: #484847;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 40px;
}

a {
  color: #484847;
  transition: 0.3s linear;
  text-decoration: none;

  &:hover {
    color: #EC4E1F;
  }
}

.a-link {
  color: #EC4E1F;
  text-decoration: none;
  transition: 0.3s linear;

  &:hover {
    text-decoration: underline;
  }
}

// Forms
label {
  color: #484847;
  margin-bottom: 5px;
}

.form-control:focus,
.form-control:active,
.form-select:focus,
.fotm-select:active {
  border-color: #345834;
  box-shadow: 0 0 0 0.2rem #88D398;
}

.form-check-input {
  &:checked {
    background-color: #345834;
    border-color: #345834;
  }

  &:focus {
    border-color: #345834;
    box-shadow: 0 0 0 0.25rem #3458343f;
  }
}

// Buttons
.btn-confirm {
  color: #ffffff;
  background-color: #345834;
  border: 2px solid #345834;

  &:hover {
    color: #345834;
    background-color: transparent;
  }

  &:focus {
    transform: scale(0.95);
  }

  &:disabled {
    opacity: 0.5;

    &:hover {
      color: #ffffff;
      background-color: #345834;
    }
  }
}

.btn-annulla {
  color: #A5A6A0;
  border: 2px solid #A5A6A0;

  &:hover {
    color: #ffffff;
    background-color: #A5A6A0;
    border: 2px solid #A5A6A0;
  }

  &:focus {
    transform: scale(0.95);
  }
}

.btn-cta {
  background: none;
  border: 2px solid #EC4E1F;

  min-width: 150px;
  position: relative;
  transition: color 0.4s linear;
  cursor: pointer;

  &:hover {
    color: #e6e4e1;
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #EC4E1F;
    z-index: -1;
    transition: transform 0.5s;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
    transform: scaleX(0);
  }

  &:hover::before {
    transform: scaleX(1);
  }

  &:focus {
    color: #e6e4e1;
    background-color: #EC4E1F;
  }
}

// Card ricette
.recipe {
  position: relative;
  color: white;
  border-radius: 0;

  &:hover .card-body {
    color: white;
    height: 70%;
  }

  img {
    object-fit: cover;
    border-radius: 0;
  }

  .card-body {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #2e2e2e95;
    overflow: hidden;
    width: 100%;
    height: 12%;
    transition: .5s ease;
  }
}

// Calendar
.fc .fc-toolbar-title {
  font-size: 30px;
}

.fc .fc-button-primary {
  background-color: #205b12;
  border-color: #205b12;

  &:hover {
    background-color: #096e0b;
    border-color: #096e0b;
  }
}

.fc .fc-button .fc-icon {
  color: #ffffff;
}

.fc-daygrid-event {
  cursor: pointer;
  background-color: #88D398;
  border: none;
  padding: 3px;
  white-space: pre-wrap;
}

// Pagination
.ngx-pagination {
  .current {
    background: #88D398 !important;
  }

  .disabled {
    color: #8e8e8c !important;
  }
}

// Responsive
@media screen and (max-width: 504px), (max-width: 1199px) and (min-width: 992px) {
  .fc .fc-button-group {
    margin: 10px 0 0 !important;
  }
}
